name: Automatisation des tests DevSecOps

on: push

jobs:
  Dependances:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du Code
        uses: actions/checkout@v4
      
      - name: Contrôle des dépendances avec Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          input: 'requirements.txt'
          severity: 'CRITICAL,HIGH,MEDIUM'
          format: 'table'
          template: '@default'
          
      - name: Résultat du Contrôle
        if: success()
        run: echo " Scan des dépendances réussi. Aucune vulnérabilité CRITICAL détectée."

      - name: Résultat du Contrôle
       
        run: |
          echo "Scan des dépendances terminé."
  
  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:

      - name: Checkout du Code
        uses: actions/checkout@v4

      - name: Construire l'Image
        run: |
          echo "Construction de l'image Docker"
          docker build -t mon-image-test:latest .
          
      - name: Scanner l'Image avec Trivy
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin
          
          echo "Scanning image ..."
          trivy image --severity CRITICAL,HIGH,MEDIUM,LOW mon-image-test:latest

      - name: Résultat du Scan de l'Image
        run: echo "Scan de l'image terminé."


  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application est prête à être déployée
