name: Automatisation des tests DevSecOps

on: push

jobs:
  Dependances:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4
        
      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Vérification de requirements.txt + installation des dépendances
        run: |
          if [ ! -f requirements.txt ]; then
            echo "requirements.txt manquant !"
            exit 1
          fi

          python -m pip install --upgrade pip
          echo "Installation des dépendances..."
          pip install -r requirements.txt || {
            echo "Échec de l'installation des dépendances"
            exit 1
          }

          echo "Vérification des conflits de dépendances..."
          pip check || {
            echo "Conflits détectés dans les dépendances"
            exit 1
          }

      - name: Scan de vulnérabilités avec Safety
        run: |
          pip install safety
          safety check -r requirements.txt --full-report || {
            echo "Vulnérabilités critiques détectées dans les dépendances"
            exit 1
          }

  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4
       
      - name: Scan de l'image avec Trivy (vulnérabilités)
        run: |
          docker run --rm aquasec/trivy image --severity HIGH,CRITICAL my-app-test:latest || {
            echo "Vulnérabilités HIGH/CRITICAL détectées dans l'image"
            exit 1
          }

  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application est prête à être déployée!"
