name: Automatisation des tests DevSecOps

on: push

jobs:
  Dependances:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du Code
        uses: actions/checkout@v4
      
      - name: Contrôle des dépendances avec Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          severity: 'CRITICAL,HIGH,MEDIUM'
          format: 'table'
          output: 'vulnerabilites-dependances.txt' # Nom spécifique

      - name: Upload temporaire dependances
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: tmp-dep
          path: vulnerabilites-dependances.txt

  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - name: Checkout du Code
        uses: actions/checkout@v4

      - name: Construire l'Image
        run: docker build -t mon-image-test:latest .
          
      - name: Scanner l'Image avec Trivy
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin
          # Scan et enregistrement dans un fichier distinct
          trivy image --severity CRITICAL,HIGH,MEDIUM --format table --output vulnerabilites-image.txt mon-image-test:latest

      - name: Upload temporaire image
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: tmp-img
          path: vulnerabilites-image.txt

  Rapport-Final:
    runs-on: ubuntu-latest
    needs: [Dependances, Dockerfile]
    if: always()
    steps:
      - name: Créer dossier rapports
        run: mkdir rapports-securite

      - name: Récupérer tous les fichiers
        uses: actions/download-artifact@v4
        with:
          path: rapports-securite
          pattern: tmp-*
          merge-multiple: true # Fusionne les contenus des artefacts "tmp-" dans le dossier

      - name: Generer Archive Unique
        uses: actions/upload-artifact@v4
        with:
          name: Rapports-Vulnerabilites-Global
          path: rapports-securite/
          retention-days: 7
